.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}

.yt-header-logo {
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
}

.header-input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
}

.header-search-btn {
    width: 70px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
    height: auto;
    object-fit:contain;
    justify-content: right;
}

.header-input > input {
    flex: 1;
    border: none;
    width: 1000px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.header-right-icons {
    margin-right: 25px;
}

form {
    flex: 1;
    display: flex;
}

