.comment-form {
    padding-left: 20px;
    height: 100px;
}

.comment-form > form {
    display: flex;
    align-items: center;
}

.comment-frame {
    padding: 5px;
    border-bottom: 1px solid black;
    text-align: center;
}

.comment-header {
    text-align: center;
}

.comment-div {
    border: 1px solid black;
    height:fit-content;
    width: fit-content;
    overflow-y: scroll;
    height: 420px;
}

.comment {
    text-align: left;
    border-bottom: 1px solid black;
    padding-top: 5px;
}

.comment-form {
    justify-content: center;
  }

.comments {
    text-align: center;
    padding: 5px;
}

.single-comment {
    padding: 5px;
}

span.weak {
    font-weight: lighter;
}

.button {
    background-color: green;
    color: white;
    display: inline;
    margin: 4px 4px;
    cursor: pointer;
    height: 25px;
}

.comment-content {
    border: 1px solid black;
}

.likes {
    color:white;
    background-color: black;
    font-size: 20px;
    width:100%;
    text-align: center;
}

/* .comment-col {
    text-align: center;
    margin-top: 5px;
    margin-right: 25%;
    margin-left: 25%;
    border-bottom: 1px solid black;
} */

.comment-inner-div {
    display: inline;
}
